@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --padding-container: 100px 0;
  --color-title: #001a49;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../img/cp_1.jpg");
  background-size: cover;
  z-index: -1;
}

/* Nav */
.nav {
  --padding-container: 0;
  width: 100%;
  display: flex;
  gap: 1em;
}

.nav_bar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.671);
}

.nav_logo {
  padding: 1.5%;
}

.nav_title {
  font-weight: 300;
}

.nav_link {
  margin-left: auto;
  padding: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav_items {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

.nav_links:hover {
  color: rgba(253, 119, 255, 0.879);
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
}

.seleccionado {
  color: rgba(253, 119, 255, 0.879);
}

#informacion {
  scroll-margin-block-start: 85px;
  scroll-margin-block-end: 85px;
}

#nosotros {
  scroll-margin-block-start: 85px;
  scroll-margin-block-end: 85px;
}

#avance {
  scroll-margin-block-start: 75px;
  scroll-margin-block-end: 90px;
}

#preguntas {
  scroll-margin-block-start: 85px;
  scroll-margin-block-end: 85px;
}

#giros {
  scroll-margin-block-start: 85px;
  scroll-margin-block-end: 85px;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav_img {
  display: block;
  width: 30px;
}

.nav_close {
  display: var(--show, none);
}

/* Hero Container */

.hero_container {
  max-width: 900px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: end;
  gap: 1em;
  padding-bottom: 50px;
  text-align: center;
}

.hero_title {
  font-size: 3rem;
}

.hero_paragraph {
  margin-bottom: 15px;
  background-color: rgba(215, 68, 217, 0.879);
}

.cta {
  display: inline-block;
  justify-self: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 13px 22px;
  border-radius: 23px;
  background-color: rgb(243, 255, 73);
}

/*About*/

.about {
  text-align: center;
  background-color: whitesmoke;
  max-width: 100%;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  gap: 1em;
  padding: 40px;
  text-align: center;
}

.subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 25px;
}

.about_paragraph {
  line-height: 1.7;
}

.about_main {
  padding: 20px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1rem;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.about_img {
  width: 250px;
  height: 230px;
  border-radius: 5%;
}

.about_icons {
  display: grid;
  padding: 15px;
  gap: 1rem;
  justify-items: center;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}

.about_icon {
  padding-top: 40px;
  width: 40px;
}

/*Knowlegde*/

.knowledge {
  overflow: visible;
  background-color: rgb(244, 244, 247);
  background-image: radial-gradient(rgb(139, 191, 236) 1px, transparent 1px),
    radial-gradient(rgb(139, 191, 236) 1px, rgb(244, 244, 247) 1px);
  background-size: 30px 30px;
  background-position: 0px 0px, 15px 15px;
}

.knowledge_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.knowledge_movie {
  max-width: 800px;
}

.knowledge_paragraph {
  line-height: 1.7;
  margin-bottom: 15px;
}

.knowledge_video {
  width: 100%;
  display: block;
  border-radius: 2.5%;
}

.cta_contact {
  display: inline-block;
  justify-self: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px;
  border-radius: 23px;
  background-color: rgb(41, 202, 33);
}

.cta_contact i {
  padding: 5px;
}

/*Carousel*/
.carousel {
  display: grid;
  --padding-container: 0;
  gap: 0.5em;
  padding: 40px;
  text-align: center;
  gap: 1em;
  background-color: whitesmoke;
}

.carousel_paragraph {
  line-height: 1.7;
}

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 12s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: auto;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* Questions */
.questions {
  text-align: center;
}

.questions_container {
  display: grid;
  gap: 2em;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}

.questions_padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid rgb(33, 33, 114);
  border-radius: 6px;
}

.questions_padding--add {
  padding-bottom: 30px;
}

.questions_answer {
  padding: 0 30px 0;
  overflow: hidden;
}

.questions_title {
  display: flex;
  padding: 30px 0 30px;
  cursor: pointer;
  font-size: 20px;
  color: #001a49;
  justify-content: space-between;
}

.questions_arrow {
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform 0.3s;
}

.questions_arrow--rotate {
  transform: rotate(180deg);
}
.questions_show {
  text-align: left;
  height: 0;
  transition: height 0.3s;
}

.questions_img {
  display: block;
}

/* Footer */

.footer {
  background-color: rgba(156, 55, 158, 0.879);
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: whitesmoke;
}

.footer-content {
  max-width: 1230px;
  padding: 40px 15px 450px;
  margin-bottom: 10px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 100px;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: flex;
}
.footer-menu {
  margin-top: 30px;
}

.footer_cp {
  border-radius: 30%;
  width: 50%;
}

.footer_respaldo {
  width: 100%;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 18px;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: rgb(166, 161, 65);
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-copyright {
  background-color: #0d761d;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 25%;
  }
}

/* Giros comerciales*/

.formpage {
  background-color: whitesmoke;
  background-size: 30px 30px;
  background-position: 0px 0px, 15px 15px;
  position: relative;
}

.formpage_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.btn_form {
  background-color: #4caf50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 12px 24px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Display en línea */
  font-size: 16px; /* Tamaño de la fuente */
  margin-top: 10px; /* Margen superior */
  cursor: pointer; /* Cursor al pasar por encima */
  border-radius: 6px; /* Borde redondeado */
  transition: background-color 0.3s;
}

.btn_form:hover {
  background-color: #3e8242;
}

label,
select,
input {
  display: block;
  margin-bottom: 10px;
}
select,
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

.floor-images {
  text-align: center;
}
.floor-image {
  width: 850px;
  height: 545px;
  padding: 10px;
}

.product-image {
  width: 850px;
  height: 545px;
  padding: 10px;
}
